<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="nav-bar">
    <a href="/signup">Add new Employee</a>
    <a href="/login">Login</a>
    </div>

      

     
  

    {{{body}}}

    <script src='/javascripts/script.js' />
  </body>
</html>
